@import "const";
@import "mixin";

.desktop {
  @include commonAttributes;

  #authorizationTitleDiv {
    @include firstLine;
    margin-top: 10%;
  }

  #modifyOptionDiv, #activeUserCheckboxDiv {
    @include halfScreenDiv(left);
  }

  #signUpOptionDiv{
    @include halfScreenDiv(right);
  }

  .checkboxDiv {
    margin-top: 2%;
  }

  input[type="text"], input[type="password"] {
    @include textInput;
    font-size: 20px;
    margin-top: 1%;
  }

  label {
    float: right;
    margin-left: 1%;
    @include label;
  }

  .optionButton {
    font-size: 30px;
    @include optionButton;
  }

  #userMessageDiv {
    margin-top: 2%;
    @include userMessage;
  }

  input[type="checkbox"] {
    @include checkbox;
    float: left;
    margin: 0;
  }

  .requestButton {
    @include requestButton;
    height: 40px;
    width: 20%;
    margin-top: 4%;
    margin-left: 40%;
    margin-right: 40%;
    font-size: 20px;
  }
}
