@import "const";
@import "mixin";

.mobile {
  @include commonAttributes;

  #authorizationTitleDiv {
    @include firstLine($mobileElementWidth);
    margin-top: 37.5%;
  }

  #modifyOptionDiv {
    @include halfScreenDiv(left, $mobileElementWidth);
  }

  #signUpOptionDiv {
    @include halfScreenDiv(right, $mobileElementWidth);
  }

  .checkboxDiv {
    @include singleElement($mobileElementWidth);
    margin-top: 10%;
  }

  input[type="text"], input[type="password"] {
    @include textInput($mobileElementWidth);
    font-size: 22px;
    margin-top: 10%;
  }

  #usernameInput {
    margin-top: 5%;
  }

  label {
    @include label;
  }

  .optionButton {
    font-size: 25px;
    @include optionButton;
  }

  #userMessageDiv {
    margin-top: 7.5%;
    @include userMessage($mobileElementWidth);
  }

  input[type="checkbox"] {
    @include checkbox;
    float: right;
  }

  .requestButton {
    @include requestButton;
    height: 60px;
    width: 60%;
    margin: 15% 20% 2%;
    font-size: 25px;
  }

  #signInButton {
    margin: 20%;
  }
}